<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/employee-add.css}">
    <meta charset="UTF-8">
    <title>Add employee</title>
    <link rel="shortcut icon" th:href="@{/images/icons/favicon.ico}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Zoza Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}"><span class="fas fa-home" style="color: rgba(255,255,255,.75);"></span> Home</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><span class="fas fa-sign-in-alt" style="color: rgba(255,255,255,.75);"></span> Login</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><span class="fas fa-sign-out-alt" style="color: rgba(255,255,255,.75);"></span> Logout</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/reservations}"><span class="fas fa-clipboard-list" style="color: rgba(255,255,255,.75);"></span> Reservations</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}"><span class="fas fa-user" style="color: rgba(255,255,255,.75);"></span> Profile</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}"><span class="fas fa-user-plus" style="color: rgba(255,255,255,.75);"></span> Register</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link active" th:href="@{/employees}"><span class="fa fa-user-tie"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Employees<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/customers}"><span class="fa fa-user-tag"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Customers</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/rooms}"><span class="fa fa-bed"
                                                                         style="color: rgba(255,255,255,.75);"></span>
                        Rooms</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/users}"><span class="fa fa-users"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="all-form-container">
    <div class="container-form">
        <div class="row centered-form">
            <div class="panel panel-default form-size">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Add new employee</h3>
                </div>
                <div class="panel-body">
                    <form method="post" th:action="@{/employees/add}" th:object="${employee}" role="form">

                        <label>First name:</label>
                        <div th:if="${#fields.hasErrors('firstName')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{firstName}" name="firstName" class="form-control input-sm"
                                   placeholder="First name">
                        </div>
                        <label>Last name:</label>
                        <div th:if="${#fields.hasErrors('lastName')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{lastName}" name="lastName" class="form-control input-sm"
                                   placeholder="Last name">
                        </div>
                        <label>Job title:</label>
                        <div th:if="${#fields.hasErrors('jobTitle')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('jobTitle')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{jobTitle}" name="jobTitle" class="form-control input-sm"
                                   placeholder="Job title">
                        </div>
                        <label>Hire date:</label>
                        <div th:if="${#fields.hasErrors('hireDate')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('hireDate')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="date" th:field="*{hireDate}" name="hireDate" class="form-control input-sm"
                                   placeholder="hireDate">
                        </div>
                        <label>Salary:</label>
                        <div th:if="${#fields.hasErrors('salary')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('salary')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{salary}" name="salary" class="form-control input-sm"
                                   placeholder="salary">
                        </div>
                        <label>Gender:</label>
                        <div th:if="${#fields.hasErrors('gender')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('gender')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <select class="browser-default custom-select custom-select-lg mb-1" th:field="*{gender}">
                                <option selected="selected" th:value="Male" th:text="Male"></option>
                                <option th:value="Female" th:text="Female"></option>
                                <option th:value="Other" th:text="Other"></option>
                            </select>
                        </div>
                        <label>Is sick:</label>
                        <div class="form-group">
                            <select class="browser-default custom-select custom-select-lg mb-1" th:field="*{sickLeave}">
                                <option selected="selected" th:value="false" th:text="No"></option>
                                <option th:value="true" th:text="Yes"></option>
                            </select>
                        </div>

                        <label>Email:</label>
                        <div th:if="${#fields.hasErrors('employeeContact.email')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('employeeContact.email')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{employeeContact.email}" name="email" class="form-control input-sm"
                                   placeholder="Email">
                        </div>
                        <label>Phone number:</label>
                        <div th:if="${#fields.hasErrors('employeeContact.phoneNumber')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('employeeContact.phoneNumber')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{employeeContact.phoneNumber}" name="phoneNumber" class="form-control input-sm"
                                   placeholder="Phone number">
                        </div>
                        <label>Address:</label>
                        <div th:if="${#fields.hasErrors('employeeContact.address')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('employeeContact.address')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{employeeContact.address}" name="address" class="form-control input-sm"
                                   placeholder="address">
                        </div>

                        <input type="submit" value="Add employee" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
