<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/homepage.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Zoza Hotel</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Zoza Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/personnel}">Personnel</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/customer}">Customers</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://hdwallsource.com/img/2020/9/luxury-house-desktop-wallpaper-70414-72801-hd-wallpapers.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="carousel-description display-4">Zoza Hotel</h3>
                    <p class="lead">The perfect place to travel.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://getwallpapers.com/wallpaper/full/b/1/7/137826.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Home away from home</h3>
                    <p class="lead">Make yourself at home.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://hdwallsource.com/img/2016/7/luxury-house-wallpaper-49817-51497-hd-wallpapers.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Perfect vacation</h3>
                    <p class="lead">Have a good time with your family or friends.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" th:href="@{#carouselExampleIndicators}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" th:href="@{#carouselExampleIndicators}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>


<section class="py-5">
    <div class="container text-center">
        <h1 class="font-weight-light">Zoza Hotel</h1>
        <p class="lead">Welcome to Zoza Hotel a place for real lux an comfortable Holiday!</p>
    </div>
</section>

<div class="container">
    <div class="col-lg-12">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Our Popular Destinations</h1>
        <hr class="mt-2 mb-5">
        <div class="row text-center text-lg-left">
            <div class="col-lg-6 col-md-4 col-6 p-1">
                <a class="d-block  h-100">
                    <img class="img-fluid w-100" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                </a>
                <div class="card-img-overlay text-white">
                    <h2 class="ugali">Calo des Moro</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-6 p-1">
                <a class="d-block h-100">
                    <img class="img-fluid w-100" src="https://www.itaka.pl/blog/wp-content/uploads/2020/01/foto-glowne-aerial-view-morze-plaza-400x300.jpg" alt="">

                </a>
                <div class="card-img-overlay  text-white">
                    <h2 class="ugali">Balaton</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 p-1">
                <a class="d-block h-100">
                    <img class="img-fluid " src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                </a>
                <div class="card-img-overlay text-white">
                    <h2 class="ugali">Arusha</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 p-1">
                <a class="d-block  h-100">
                    <img class="img-fluid" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
                </a>
                <div class="card-img-overlay text-white">
                    <h2 class="ugali">Plouchmanac’h</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 p-1">
                <a class="d-block  h-100">
                    <img class="img-fluid" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
                </a>
                <div class="card-img-overlay text-white">
                    <h2 class="ugali">Dorset</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-8 p-1">
                <a class="d-block  h-100">
                    <img class="img-fluid"  src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
                </a>
                <div class="card-img-overlay text-white">
                    <h2 class="ugali">Caneiros</h2>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container py-4 mt-4">


    <h1 class="my-4 text-info display-4">VIP Destination Packages,<BR/>
        <small class="text-secondary">Lux with Zoza Hotel</small>
    </h1>

    <div class="row mt-4">
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card shadow border-0 h-100">
                <a href="#"><img class="card-img-top" src="https://cdn.dreamtours.pl/img/hotels/giata/5079/cypr-cypr-poludniowy-pernera-beach-119.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Hotel Package</a>
                    </h4>
                    <p class="card-text">Pools with unique features. Even demanding customers will like it.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card shadow border-0 h-100">
                <a href="#"><img class="card-img-top" src="https://www.tal-com.com/images/djmediatools/28-baltin-blu-atrakcje-1/mielenko-hotel-baltin-fot-piotr-krajewski-1-jpg-lq_038_w_3k2a1018.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Hotel Package</a>
                    </h4>
                    <p class="card-text">Pools with jacuzzi functions. It allows you to rest after a hard day.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card shadow border-0 h-100">
                <a href="#"><img class="card-img-top" src="https://www.um24.pl/upload/galleries/1039/Partial_Ocean_View_w_Hotelu_Aston_Waikiki_Circle_na_Hawajach.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Hotel Package</a>
                    </h4>
                    <p class="card-text">Ocean view rooms. They are fully equipped and comfortable.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card shadow border-0 h-100">
                <a href="#"><img class="card-img-top" src="https://www.carisma.pl/zdj,max,271527.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Hotel Packager</a>
                    </h4>
                    <p class="card-text">Perfect places for sunbathing and relaxing. Nobody will disturb your peace.</p>
                </div>
            </div>
        </div>


    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
