<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/one-user.css}">
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="shortcut icon" th:href="@{/images/icons/favicon.ico}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Zoza Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}"><span class="fas fa-home" style="color: rgba(255,255,255,.75);"></span> Home</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><span class="fas fa-sign-in-alt" style="color: rgba(255,255,255,.75);"></span> Login</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><span class="fas fa-sign-out-alt" style="color: rgba(255,255,255,.75);"></span> Logout</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/reservations}"><span class="fas fa-clipboard-list" style="color: rgba(255,255,255,.75);"></span> Reservations</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}"><span class="fas fa-user" style="color: rgba(255,255,255,.75);"></span> Profile</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}"><span class="fas fa-user-plus" style="color: rgba(255,255,255,.75);"></span> Register</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/employees}"><span class="fa fa-user-tie"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Employees</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/customers}"><span class="fa fa-user-tag"
                                                                     style="color: rgba(255,255,255,.75);"></span>
                        Customers</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/rooms}"><span class="fa fa-bed"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Rooms</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link active" th:href="@{/users}"><span class="fa fa-users"
                                                                         style="color: rgba(255,255,255,.75);"></span>
                        Users<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="content-container">
    <section class="py-5">
        <div class="container text-center">
            <h1 class="font-weight-light text-light">User edit</h1>
            <p class="lead text-light">Shown is a user which can be edited.</p>
        </div>
    </section>


    <div class="card my-3 w-75 rounded">

        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Username</th>
                    <th scope="col" class="text-center">Email</th>
                    <th scope="col" class="text-center">Role</th>
                    <th scope="col" class="text-center">Enabled</th>
                    <th th:if="${isAuthorizedUserAdmin}" scope="col" class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${userTable}">
                    <td th:text="*{id}" class="text-center align-middle"></td>
                    <td th:text="*{username}" class="text-center align-middle"></td>
                    <td th:text="*{email}" class="text-center align-middle"></td>
                    <td th:text="*{role}" class="text-center align-middle"></td>
                    <td th:text="*{enabled}" class="text-center align-middle"></td>
                    <td th:if="${isAuthorizedUserAdmin}" class="text-center align-middle">
                        <form method="post" th:action="@{/users/{id}/delete(id=${userTable.id})}">
                            <button type="submit" class="btn btn-danger"><span class="fas fa-user-minus"></span> Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="all-form-container">
    <div class="container-form">
        <div class="row centered-form">
                <div class="panel panel-default form-size">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Edit user</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" role="form">
                            <div th:if="${userExistsError}" class="input-group alert alert-danger">
                                <div th:text="${userExistsError}"></div>
                            </div>
                            <label>Username:</label>
                            <div th:if="${#fields.hasErrors('username')}" class="input-group alert alert-danger">
                                <div th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" th:field="*{username}" name="username" class="form-control input-sm" placeholder="Username">
                            </div>
                            <label>Email:</label>
                            <div th:if="${#fields.hasErrors('email')}" class="input-group alert alert-danger">
                                <div th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" th:field="*{email}" name="email" class="form-control input-sm" placeholder="Email">
                            </div>
                            <div hidden class="form-group">
                                <input type="text" th:field="*{password}" name="password" class="form-control input-sm" placeholder="password">
                            </div>
                            <label>Role:</label>
                            <div class="form-group">
                                <select class="browser-default custom-select custom-select-lg mb-1" th:field="*{role}">
                                    <option selected="selected" th:value="ROLE_USER" th:text="User"></option>
                                    <option th:value="ROLE_MANAGER" th:text="Manager"></option>
                                    <option th:value="ROLE_ADMIN" th:text="Admin"></option>
                                </select>
                            </div>
                            <label>Enabled:</label>
                            <div class="form-group">
                                <select class="browser-default custom-select custom-select-lg mb-1" th:field="*{enabled}">
                                    <option selected="selected" th:value="true" th:text="true"></option>
                                    <option th:value="false" th:text="false"></option>
                                </select>
                            </div>
                            <input type="submit" value="Update user" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>


</body>
</html>
