<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/one-employee-contact.css}">
    <meta charset="UTF-8">
    <title>Employee contact</title>
    <link rel="shortcut icon" th:href="@{/images/icons/favicon.ico}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Zoza Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}"><span class="fas fa-home" style="color: rgba(255,255,255,.75);"></span> Home</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><span class="fas fa-sign-in-alt" style="color: rgba(255,255,255,.75);"></span> Login</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><span class="fas fa-sign-out-alt" style="color: rgba(255,255,255,.75);"></span> Logout</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/reservations}"><span class="fas fa-clipboard-list" style="color: rgba(255,255,255,.75);"></span> Reservations</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}"><span class="fas fa-user" style="color: rgba(255,255,255,.75);"></span> Profile</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}"><span class="fas fa-user-plus" style="color: rgba(255,255,255,.75);"></span> Register</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link active" th:href="@{/employees}"><span class="fa fa-user-tie"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Employees<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/customers}"><span class="fa fa-user-tag"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Customers</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/rooms}"><span class="fa fa-bed"
                                                                         style="color: rgba(255,255,255,.75);"></span>
                        Rooms</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/users}"><span class="fa fa-users"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="content-container">
    <section class="py-5">
        <div class="container text-center">
            <h1 class="font-weight-light text-light">Employee contact edit</h1>
            <p class="lead text-light">Shown is a employee contact which can be edited.</p>
        </div>
    </section>


    <div class="card my-3 w-75 rounded">

        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Contact id</th>
                    <th scope="col" class="text-center">First name</th>
                    <th scope="col" class="text-center">Last name</th>
                    <th scope="col" class="text-center">Email</th>
                    <th scope="col" class="text-center">Phone number</th>
                    <th scope="col" class="text-center">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${employeeTable}">
                    <td th:text="*{employeeContact.id}" class="text-center align-middle"></td>
                    <td th:text="*{firstName}" class="text-center align-middle"></td>
                    <td th:text="*{lastName}" class="text-center align-middle"></td>
                    <td th:text="*{employeeContact.email}" class="text-center align-middle"></td>
                    <td th:text="*{employeeContact.phoneNumber}" class="text-center align-middle"></td>
                    <td th:text="*{employeeContact.address}" class="text-center align-middle"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="all-form-container">
    <div class="container-form">
        <div class="row centered-form">
            <div class="panel panel-default form-size">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Edit employee contact</h3>
                </div>
                <div class="panel-body">
                    <form method="post" th:action="@{/employees/{id}/contact(id=${employee.id})}" th:object="${employee}" role="form">
                        <div th:if="${employeesExistsError}" class="input-group alert alert-danger">
                            <div th:text="${employeesExistsError}"></div>
                        </div>
                        <div hidden class="form-group">
                            <input type="text" th:field="${employee.firstName}" name="firstName" class="form-control input-sm"
                                   placeholder="First name">
                        </div>
                        <div hidden class="form-group">
                            <input type="text" th:field="${employee.lastName}" name="lastName" class="form-control input-sm"
                                   placeholder="Last name">
                        </div>
                        <div hidden class="form-group">
                            <input type="text" th:field="${employee.jobTitle}" name="jobTitle" class="form-control input-sm"
                                   placeholder="Job title">
                        </div>
                        <div hidden class="form-group">
                            <input type="date" th:field="${employee.hireDate}" name="hireDate" class="form-control input-sm"
                                   placeholder="hireDate">
                        </div>
                        <div hidden class="form-group">
                            <input type="text" th:field="${employee.salary}" name="salary" class="form-control input-sm"
                                   placeholder="salary">
                        </div>
                        <div hidden class="form-group">
                            <input type="text" th:field="${employee.gender}" name="gender" class="form-control input-sm"
                                   placeholder="gender">
                        </div>
                        <div hidden class="form-group">
                            <input type="text" th:field="${employee.sickLeave}" name="sickLeave" class="form-control input-sm"
                                   placeholder="sickLeave">
                        </div>

                        <label>Email:</label>
                        <div th:if="${#fields.hasErrors('employeeContact.email')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('employeeContact.email')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{employeeContact.email}" name="email" class="form-control input-sm"
                                   placeholder="Email">
                        </div>
                        <label>Phone number:</label>
                        <div th:if="${#fields.hasErrors('employeeContact.phoneNumber')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('employeeContact.phoneNumber')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{employeeContact.phoneNumber}" name="phoneNumber" class="form-control input-sm"
                                   placeholder="Phone number">
                        </div>
                        <label>Address:</label>
                        <div th:if="${#fields.hasErrors('employeeContact.address')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('employeeContact.address')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{employeeContact.address}" name="address" class="form-control input-sm"
                                   placeholder="address">
                        </div>

                        <input type="submit" value="Update employee contact" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
