<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/register.css}">
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="shortcut icon" th:href="@{/images/icons/favicon.ico}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/images/icons/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/images/icons/safari-pinned-tab.svg}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="grid-container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Zoza Hotel <img class="navbar-logo" th:src="@{/images/navbar/zozaHotelLogo.png}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}"><span class="fas fa-home nav-menu-icons"></span> Home</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><span class="fas fa-sign-in-alt nav-menu-icons"></span> Login</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><span class="fas fa-sign-out-alt nav-menu-icons"></span> Logout</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/reservations}"><span class="fas fa-clipboard-list nav-menu-icons"></span> Reservations</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}"><span class="fas fa-user-cog nav-menu-icons"></span> Profile</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link active" th:href="@{/register}"><span class="fas fa-user-plus nav-menu-icons"></span> Register</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="fas fa-users-cog nav-menu-icons"></span> Management</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" th:href="@{/employees}"><span class="fas fa-user-tie nav-menu-icons"></span>
                            Employees</a>
                        <a class="dropdown-item" th:href="@{/customers}"><span class="fas fa-user-tag nav-menu-icons"></span>
                            Customers</a>
                        <a class="dropdown-item" th:href="@{/users}"><span class="fas fa-users"></span>
                            Users</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/rooms}"><span class="fas fa-bed"></span>
                            Rooms</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="content-container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body">
                <form name="f" method="post" th:action="@{/register}" th:object="${user}">
                    <div th:if="${userExistsError}" class="input-group alert alert-danger">
                        <div th:text="${userExistsError}"></div>
                    </div>
                    <div th:if="${#fields.hasErrors('username')}" class="input-group alert alert-danger">
                        <div th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i>*</span>
                        </div>
                        <input type="text" class="form-control" name="username" placeholder="Username"
                               th:field="*{username}">
                    </div>
                    <div th:if="${#fields.hasErrors('email')}" class="input-group alert alert-danger">
                        <div th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-at"></i>*</span>
                        </div>
                        <input type="text" class="form-control" name="email" placeholder="Email"
                               th:field="*{email}">
                    </div>
                    <div th:if="${#fields.hasErrors('password')}" class="input-group alert alert-danger">
                        <div th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i>*</span>
                        </div>
                        <input type="password" class="form-control" id="password-register" name="password" placeholder="Password"
                               th:field="*{password}">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i>*</span>
                        </div>
                        <input type="password" class="form-control" id="confirm-password-register" placeholder="Confirm password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create account" class="btn float-right register_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Do have an account?<a th:href="@{/login}"><b>Sign In</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="social_footer_ul">
            <a th:href="#{footer.social.github}" target="_blank"><i class="fab fa-github"></i></a>
            <a th:href="#{footer.social.linkedin}" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <ul class="footer_bottom_ul_amrc">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
        <p class="footer-text-center">Copyright @2021 | Designed by <a th:href="#{footer.social.designedBy}" target="_blank"><b>Hubert Rogiński</b></a></p>
    </div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script th:src="@{/scripts/register.js}"></script>
</body>
</html>
