<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/reservations.css}">
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link rel="shortcut icon" th:href="@{/images/icons/favicon.ico}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Zoza Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}"><span class="fas fa-home"
                                                             style="color: rgba(255,255,255,.75);"></span> Home</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><span class="fas fa-sign-in-alt"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Login</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><span class="fas fa-sign-out-alt"
                                                                   style="color: rgba(255,255,255,.75);"></span> Logout</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link active" th:href="@{/reservations}"><span class="fas fa-clipboard-list"
                                                                                style="color: rgba(255,255,255,.75);"></span>
                        Reservations<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}"><span class="fas fa-user"
                                                                         style="color: rgba(255,255,255,.75);"></span>
                        Profile</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}"><span class="fas fa-user-plus"
                                                                     style="color: rgba(255,255,255,.75);"></span>
                        Register</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/employees}"><span class="fa fa-user-tie"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Employees</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/customers}"><span class="fa fa-user-tag"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Customers</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/rooms}"><span class="fa fa-bed"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Rooms</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/users}"><span class="fa fa-users"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div th:if="${isCustomerExists}" class="all-form-container">
    <div class="container-form">
        <div class="row centered-form">
            <div class="panel panel-default form-size">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Add new reservation</h3>
                </div>
                <div class="panel-body" th:if="${isItFirstStep}">
                    <form method="post" th:action="@{/reservations}" th:object="${reservation}" role="form">
                        <div th:if="${errorMessage}" class="input-group alert alert-danger">
                            <div th:text="${errorMessage}"></div>
                        </div>
                        <label>Select start date of booking:</label>
                        <div th:if="${#fields.hasErrors('startOfBooking')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('startOfBooking')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="date" th:field="*{startOfBooking}" name="startOfBooking"
                                   class="form-control input-sm"
                                   placeholder="startOfBooking">
                        </div>
                        <label>Select end date of booking:</label>
                        <div th:if="${#fields.hasErrors('endOfBooking')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('endOfBooking')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="date" th:field="*{endOfBooking}" name="endOfBooking"
                                   class="form-control input-sm"
                                   placeholder="endOfBooking">
                        </div>

                        <input type="submit" value="Next step, select rooms"
                               class="btn btn-info btn-block">
                    </form>
                </div>
                <div class="panel-body" th:if="${!isItFirstStep}">
                    <form method="post" th:action="@{/reservations}" th:object="${reservation}" role="form">
                        <div th:if="${errorMessage}" class="input-group alert alert-danger">
                            <div th:text="${errorMessage}"></div>
                        </div>
                        <label>Start date of booking: </label>
                        <span th:text="${reservation.startOfBooking}"></span>
                        <div class="form-group">
                            <input hidden type="date" th:field="${reservation.startOfBooking}" name="startOfBooking"
                                   class="form-control input-sm"
                                   placeholder="startOfBooking">
                        </div>
                        <label>End date of booking: </label>
                        <span th:text="${reservation.endOfBooking}"></span>
                        <div class="form-group">
                            <input hidden type="date" th:field="${reservation.endOfBooking}" name="endOfBooking"
                                   class="form-control input-sm"
                                   placeholder="endOfBooking">
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group multiple-form-group">
                                        <label>Select rooms:</label>
                                        <div class="form-group input-group">
                                            <select th:field="*{rooms[0].roomNumber}" class="form-control">
                                                <option th:each="roomFromList: ${roomList}"
                                                        th:value="${roomFromList.roomNumber}"
                                                        th:text="'No.: '+ ${roomFromList.roomNumber} + ', class: ' +${roomFromList.roomClass}+', one day cost: '+${roomFromList.oneDayCost}+', max people: '+${roomFromList.maxPeopleCapacity}"></option>
                                            </select>
                                            <span class="input-group-btn"><button type="button"
                                                                                  class="btn btn-default btn-add btn-success">+</button></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a th:href="@{/reservations}" class='btn btn-dark btn-block'>Back to select date</a>
                        <input type="submit" value="Add reservation" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${isCustomerExists}" class="content-container">
    <section class="py-5">
        <div class="container text-center">
            <h1 class="font-weight-light text-light">Current reservations</h1>
        </div>
    </section>
    <div class="card my-3 w-75 rounded">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Start of booking [yyyy-mm-dd]</th>
                    <th scope="col" class="text-center">End of booking [yyyy-mm-dd]</th>
                    <th scope="col" class="text-center">Rooms details</th>
                    <th scope="col" class="text-center">Cost [$]</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="currentReservation : ${currentReservations}">
                    <td th:text="${currentReservation.id}" class="text-center align-middle"></td>
                    <td th:text="${currentReservation.startOfBooking}" class="text-center align-middle"></td>
                    <td th:text="${currentReservation.endOfBooking}" class="text-center align-middle"></td>
                    <td class="text-center align-middle">
                        <p th:each="room : ${currentReservation.rooms}"
                           th:text="'No.: '+ ${room.roomNumber} + ', class: ' +${room.roomClass}+', one day cost: '+${room.oneDayCost}+', max people: '+${room.maxPeopleCapacity}+'; '"></p>
                    </td>
                    <td th:text="${currentReservation.cost}" class="text-center align-middle"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:if="${isCustomerExists}" class="content-container">
    <section class="py-5">
        <div class="container text-center">
            <h1 class="font-weight-light text-light">Future reservations</h1>
        </div>
    </section>
    <div class="card my-3 w-75 rounded">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Start of booking [yyyy-mm-dd]</th>
                    <th scope="col" class="text-center">End of booking [yyyy-mm-dd]</th>
                    <th scope="col" class="text-center">Rooms details</th>
                    <th scope="col" class="text-center">Cost [$]</th>
                    <th scope="col" class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="futureReservation : ${futureReservations}">
                    <td th:text="${futureReservation.id}" class="text-center align-middle"></td>
                    <td th:text="${futureReservation.startOfBooking}" class="text-center align-middle"></td>
                    <td th:text="${futureReservation.endOfBooking}" class="text-center align-middle"></td>
                    <td class="text-center align-middle">
                        <p th:each="room : ${futureReservation.rooms}"
                           th:text="'No.: '+ ${room.roomNumber} + ', class: ' +${room.roomClass}+', one day cost: '+${room.oneDayCost}+', max people: '+${room.maxPeopleCapacity}+'; '"></p>
                    </td>
                    <td th:text="${futureReservation.cost}" class="text-center align-middle"></td>
                    <td class="text-center align-middle">
                        <form method="post" th:action="@{/reservations/{id}/delete(id=${futureReservation.id})}">
                            <button type="submit" class="btn btn-danger"><span class="fas fa-clipboard-list"></span>-
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:if="${isCustomerExists}" class="content-container">
    <section class="py-5">
        <div class="container text-center">
            <h1 class="font-weight-light text-light">Old reservations</h1>
        </div>
    </section>
    <div class="card my-3 w-75 rounded">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Start of booking [yyyy-mm-dd]</th>
                    <th scope="col" class="text-center">End of booking [yyyy-mm-dd]</th>
                    <th scope="col" class="text-center">Rooms details</th>
                    <th scope="col" class="text-center">Cost [$]</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="oldReservation : ${oldReservations}">
                    <td th:text="${oldReservation.id}" class="text-center align-middle"></td>
                    <td th:text="${oldReservation.startOfBooking}" class="text-center align-middle"></td>
                    <td th:text="${oldReservation.endOfBooking}" class="text-center align-middle"></td>
                    <td class="text-center align-middle">
                        <p th:each="room : ${oldReservation.rooms}"
                           th:text="'No.: '+ ${room.roomNumber} + ', class: ' +${room.roomClass}+', one day cost: '+${room.oneDayCost}+', max people: '+${room.maxPeopleCapacity}+'; '"></p>
                    </td>
                    <td th:text="${oldReservation.cost}" class="text-center align-middle"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:if="${!isCustomerExists}" class="all-form-container">
    <div class="container-form">
        <div class="row centered-form">
            <div class="panel panel-default form-size">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Firstly you need to create customer account.</h3>
                </div>
                <div class="panel-body">
                    <form method="post" th:action="@{/reservations/create-customer}" th:object="${customer}"
                          role="form">
                        <div th:if="${#fields.hasErrors('firstName')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{firstName}" name="firstName"
                                   class="form-control input-sm"
                                   placeholder="firstName">
                        </div>
                        <div th:if="${#fields.hasErrors('lastName')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{lastName}" name="lastName"
                                   class="form-control input-sm"
                                   placeholder="lastName">
                        </div>
                        <div th:if="${#fields.hasErrors('address')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('address')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{address}" name="address"
                                   class="form-control input-sm"
                                   placeholder="address">
                        </div>
                        <div th:if="${#fields.hasErrors('phoneNumber')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{phoneNumber}" name="phoneNumber"
                                   class="form-control input-sm"
                                   placeholder="phoneNumber">
                        </div>
                        <input type="submit" value="Add customer" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script th:src="@{/scripts/reservations.js}"></script>
</body>
</html>
