<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/room-add.css}">
    <meta charset="UTF-8">
    <title>Add room</title>
    <link rel="shortcut icon" th:href="@{/images/icons/favicon.ico}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Zoza Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}"><span class="fas fa-home" style="color: rgba(255,255,255,.75);"></span> Home</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><span class="fas fa-sign-in-alt" style="color: rgba(255,255,255,.75);"></span> Login</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><span class="fas fa-sign-out-alt" style="color: rgba(255,255,255,.75);"></span> Logout</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/reservations}"><span class="fas fa-clipboard-list" style="color: rgba(255,255,255,.75);"></span> Reservations</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}"><span class="fas fa-user" style="color: rgba(255,255,255,.75);"></span> Profile</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}"><span class="fas fa-user-plus" style="color: rgba(255,255,255,.75);"></span> Register</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/employees}"><span class="fa fa-user-tie"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Employees</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/customers}"><span class="fa fa-user-tag"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Customers</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link active" th:href="@{/rooms}"><span class="fa fa-bed"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Rooms<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/users}"><span class="fa fa-users"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="all-form-container">
    <div class="container-form">
        <div class="row centered-form">
            <div class="panel panel-default form-size">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Add new room</h3>
                </div>
                <div class="panel-body">
                    <form method="post" th:action="@{/rooms/add}" th:object="${room}" role="form">
                        <div th:if="${roomExistsError}" class="input-group alert alert-danger">
                            <div th:text="${roomExistsError}"></div>
                        </div>
                        <label>Room number:</label>
                        <div th:if="${#fields.hasErrors('roomNumber')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('roomNumber')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{roomNumber}" name="roomNumber" class="form-control input-sm"
                                   placeholder="roomNumber">
                        </div>
                        <label>Room class:</label>
                        <div th:if="${#fields.hasErrors('roomClass')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('roomClass')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{roomClass}" name="roomClass" class="form-control input-sm"
                                   placeholder="roomClass">
                        </div>
                        <label>Max people capacity:</label>
                        <div th:if="${#fields.hasErrors('maxPeopleCapacity')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('maxPeopleCapacity')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{maxPeopleCapacity}" name="maxPeopleCapacity" class="form-control input-sm"
                                   placeholder="maxPeopleCapacity">
                        </div>
                        <label>One day cost:</label>
                        <div th:if="${#fields.hasErrors('oneDayCost')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('oneDayCost')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{oneDayCost}" name="oneDayCost" class="form-control input-sm"
                                   placeholder="oneDayCost">
                        </div>
                        <input type="submit" value="Add room" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
