<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/user-profile-customer-create.css}">
    <meta charset="UTF-8">
    <title>Add customer</title>
    <link rel="shortcut icon" th:href="@{/images/icons/favicon.ico}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Zoza Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}"><span class="fas fa-home" style="color: rgba(255,255,255,.75);"></span> Home</a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><span class="fas fa-sign-in-alt" style="color: rgba(255,255,255,.75);"></span> Login</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><span class="fas fa-sign-out-alt" style="color: rgba(255,255,255,.75);"></span> Logout</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/reservations}"><span class="fas fa-clipboard-list" style="color: rgba(255,255,255,.75);"></span> Reservations</a>
                </li>
                <li th:if="${isUserLogged}" class="nav-item">
                    <a class="nav-link active" th:href="@{/user/profile}"><span class="fas fa-user" style="color: rgba(255,255,255,.75);"></span> Profile<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${!isUserLogged}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}"><span class="fas fa-user-plus" style="color: rgba(255,255,255,.75);"></span> Register</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/employees}"><span class="fa fa-user-tie"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Employees</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/customers}"><span class="fa fa-user-tag"
                                                                      style="color: rgba(255,255,255,.75);"></span>
                        Customers</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/rooms}"><span class="fa fa-bed"
                                                                         style="color: rgba(255,255,255,.75);"></span>
                        Rooms</a>
                </li>
                <li th:if="${isAuthorizedUserAdminOrManager}" class="nav-item">
                    <a class="nav-link" th:href="@{/users}"><span class="fa fa-users"
                                                                  style="color: rgba(255,255,255,.75);"></span>
                        Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="all-form-container">
    <div class="container-form">
        <div class="row centered-form">
            <div class="panel panel-default form-size">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Add new customer account</h3>
                </div>
                <div class="panel-body">
                    <form method="post" th:action="@{/user/profile/customer/create}" th:object="${createdCustomer}"
                          role="form">
                        <label>First name:</label>
                        <div th:if="${#fields.hasErrors('firstName')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{firstName}" name="firstName"
                                   class="form-control input-sm"
                                   placeholder="First name">
                        </div>
                        <label>Last name:</label>
                        <div th:if="${#fields.hasErrors('lastName')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{lastName}" name="lastName"
                                   class="form-control input-sm"
                                   placeholder="Last name">
                        </div>
                        <label>Address:</label>
                        <div th:if="${#fields.hasErrors('address')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('address')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{address}" name="address"
                                   class="form-control input-sm"
                                   placeholder="Address">
                        </div>
                        <label>Phone number:</label>
                        <div th:if="${#fields.hasErrors('phoneNumber')}" class="input-group alert alert-danger">
                            <div th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{phoneNumber}" name="phoneNumber"
                                   class="form-control input-sm"
                                   placeholder="Phone number">
                        </div>
                        <input type="submit" value="Add new customer account" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
