<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Hotel</title>
</head>
<body style="margin: 0 0 30px 20px">
    <h1>Witaj w </h1>
    <h1 class="text-danger" th:text="${hotelName}">Nazwa hotelu</h1>
    <img class="img-thumbnail" th:src="@{/images/hotel-parabola.jpg}" alt="image.jpg">

    <hr>
    <a href="/personnel" class="btn btn-large btn-primary mb-4">Lista pracownikow</a>
    <hr>
    <a href="/customer" class="btn btn-large btn-primary mb-4">Lista gosci</a>
    <hr>
    <a th:href="@{/users}" class="btn btn-large btn-danger">Lista uzytkownikow</a>
    <hr>
    <a th:href="@{/logout}" class="btn btn-large btn-danger">WYLOGUJ</a>
</body>
</html>
