body {
    background-image: url("http://getwallpapers.com/wallpaper/full/8/d/d/1522886-mint-green-wallpapers-2560x1600-for-iphone-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.page-wrap {
    min-height: 100vh;
}
