body {
    background-image: url(../images/backgrounds/error-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.page-wrap {
    min-height: 100vh;
}
