@import url('https://fonts.googleapis.com/css?family=Numans');

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fix-im {
    position: relative;
    bottom:11rem;
}
@media screen and (max-width:768px){
    .flex-100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fix-im {bottom: 0rem;}
}
.ugali {
    background: black;
    padding: 6px;
}
.navbar{
    font-family: 'Numans', sans-serif;
}
.navbar-logo{
    width: 28px;
}

/*@media (min-width: 992px) {*/
/*    .navbar-expand-lg {*/
/*        -webkit-box-orient: horizontal;*/
/*        -webkit-box-direction: normal;*/
/*        -ms-flex-flow: row nowrap;*/
/*        flex-flow: row nowrap;*/
/*        -webkit-box-pack: start;*/
/*        -ms-flex-pack: start;*/
/*        justify-content: flex-start;*/
/*        height: 60px;*/
/*    }*/
/*}*/
