@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    min-height: 100vh;
    font-family: 'Numans', sans-serif;
}
.grid-container {
    display: grid;
    min-width: 500px;
    grid-template-columns: 100%;
    grid-template-rows: 57px calc(100% - 230px) 173px;
    grid-template-areas: "navbar"
                        "content"
                        "footer";
}
.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: rgba(255, 255, 255, .75);
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(89, 93, 97);
}

.nav-menu-icons {
    color: rgba(255, 255, 255, .75);
}

.navbar {
    font-family: 'Numans', sans-serif;
    grid-area: navbar;
    font-size: 18px;
}

.navbar-logo {
    width: 28px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(66, 128, 210);
}

.container {
    height: 100%;
    align-content: center;
}

.content-container {
    height: calc(100vh - 230px);
    min-height: 550px;
    grid-area: content;
    background-image: url(../images/backgrounds/login-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



/*.social_icon span{*/
/*    font-size: 60px;*/
/*    margin-left: 10px;*/
/*    color: #FFC312;*/
/*}*/

/*.social_icon span:hover{*/
/*    color: white;*/
/*    cursor: pointer;*/
/*}*/

.card-header h3{
    color: white;
}

/*.social_icon{*/
/*    position: absolute;*/
/*    right: 20px;*/
/*    top: -45px;*/
/*}*/



.remember{
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #4280d2;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(66, 128, 210, 0.8);
}
.card-header{
    border-bottom: 1px solid rgba(66, 128, 210, 0.8);
}
.card-footer .links a:hover{
    text-decoration: none;
}
/*footer*/
footer {
    width: 100%;
    background-color: rgb(52, 58, 64);
    min-height: 140px;
    padding: 10px 0 10px 0;
    grid-area: footer;
}

.footer-text-center {
    color: white;
    text-align: center;
}

.footer_bottom_ul_amrc {
    list-style-type: none;
    padding: 0;
    display: table;
    margin: 10px auto;
    font-size: 24px;
}

.footer_bottom_ul_amrc li {
    display: inline;
}

.footer_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.footer_bottom_ul_amrc li a:hover {
    color: white;
    text-decoration: none;
}

.social_footer_ul {
    display: flex;
    justify-content: center;
}

.social_footer_ul a {
    color: #CCC;
    border: 0 solid;
    padding: 10px;
    border-radius: 50%;
    margin: 2px 5px 0 5px;
}
.social_footer_ul a:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.social_footer_ul a i {
    font-size: 32px;
    text-align: center;
}
.social_footer_ul a i:hover {
    color: white;
}



@media (min-width: 800px) {
    .card{
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.8) !important;
    }
    .input-group-prepend span{
        width: 50px;
        background-color: rgb(66, 128, 210);
        color: black;
        border:0 !important;
    }
    .input-group{
        width: 313px;
    }
    .input-group input{

    }
    input:focus{
        box-shadow: 0 0 0 0 !important;
    }
}

@media (min-width: 300px) {
    .card{
        margin-top: auto;
        margin-bottom: auto;
        width: 270px;
        height: 190px;
        background-color: rgba(0,0,0,0.8) !important;
    }
    .input-group-prepend span{
        width: 80px;
        font-size: 40px;
        background-color: rgb(66, 128, 210);
        color: black;
        border:0 !important;
    }
    .input-group{
        width: 90%;
        margin: auto;
        height: 70px;
    }
    .input-group input{
        font-size: 40px;
        height: 70px;
    }
    input:focus{
        box-shadow: 0 0 0 0 !important;
    }
}
