body{
    background-image: url("http://getwallpapers.com/wallpaper/full/a/7/b/90116.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.btn{
    padding: .675rem .95rem;
}
.content-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-body{
    padding: 0.30rem;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.form-control {
    height: auto !important;
}
.header-buttons{
    width: 105px;
    height: 48px;
}
.header-buttons-add{
    width: 135px;
    height: 48px;
}
