body {
    background-image: url("http://getwallpapers.com/wallpaper/full/b/8/1/489068.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.btn{
    padding: .675rem .95rem;
}
.content-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-body{
    padding: 0.30rem;
}
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.form-size{
    width: 500px;
    padding: 25px 30px 25px 30px;
}
.all-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.card{
    min-width: 800px;
}
